ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #f4f4f4;
    border-left: 5px solid #333;
}

li:hover {
    background-color: #d4d4d4;
}

ul ul {
    margin-top: 0.5rem;
    border-left: 5px solid #666;
}

li a {
    color: #333;
    text-decoration: none;
}

li.active {
    background-color: #333;
    color: white;
}
